body{
    font-family: 'Times New Roman', Times, serif;
    margin: 5%;
}

h1{
    text-align: center;
}
p.byline{
    text-align: center;
}

video{
    margin: 13%;
}

h2{
    text-align: center;
    margin: 5%;
}

p.special{
    font-weight: 800;
}

footer{
    text-align: center;
}

img{
    margin: 5%;
}