h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5em;
    font-weight: 700;
    color: orange;
    padding: 2%;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #650b01;
}


p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

header {
    margin: 2%;
}

body {
    margin: 5%;
}

figcaption {
    font-family: 'Times New Roman', Times, serif;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 10%;
}

a {
    color: orange;
}

img {
    padding: 5%;
}