span.blue {
    color: #116AB3;
}

span.pink {
    color: #ad1a64;
}

span.teal {
    color: #08706F;
}

span.orange {
    color: #E94613;
}

body {
    background-color: #FDEFD7;
    font-family: 'Inter Tight', sans-serif;
    line-height: 1.6;
    color: #030301;
}

.container {
    width: 45%;
}

.container-fluid {
    width: 85%;
    margin: 3em;
}

span {
    font-weight: 500;
}

header {
    text-align: center;
    margin: 3em;
}

p.subhead {
    font-style: italic;
    font-weight: 300;
    margin: 3em;
}

h1 {
    font-size: 4em;
    font-weight: 800;
}

p.byline {
    font-size: .85em, 800;
    font-weight: 300;
    margin: 3em;
}

p.chart-hed {
    font-size: 2em;
    font-weight: 500;
    margin: 3em 0 0 0;
}

p.chart-subhed {
    color: #ad1a64;
    font-weight: 500;
    text-align: center;
    margin: 3em 0 0 0;
}


footer.container {
    width: 45%;
}