body{
    font-family: Newsreader, serif;
    background-color: #bec2cb;
}


header{
    color:black;
    margin: 2%;
    text-align: center;
}


h2{
color: #D79334;
}

a{
    color: #D79334;
}

h2,
h3,
p {
   
    text-align: center;
}

footer {
    text-align: center;
}


/*.newsreader-<uniquifier> {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  